<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col-lg-2 bg-dark">
			
		</div>
		<div class="col-lg-10" >
		<div class="container-fluid bg-white mt-4 pb-2">
				<!-- <form  #addTicketForm="ngForm"  (ngSubmit)="addTicketForm.form.valid && onSubmit()">
					<h1>{{formTitle}}</h1>
					<hr>
					<div class="row">
						<div class="form-group col-xs-12 col-md-6" [class.has-danger]="titulo.invalid && addTicketname.touched" >
							<label for="usuario">Usuario</label>
							<input [class.form-control-danger]="titulo.invalid && addTicketname.touched"  [(ngModel)]="model.titulo" type="text" class=" form-control" placeholder="Usuario" required autofocus name="usuario"  #titulo="ngModel" >
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-12 col-md-12"  >
							<quill-editor #editor [style.display]="hide ? 'none' : 'block'" [formControl]="form.controls['model.content']"></quill-editor>
						</div>
					</div>
					<hr>
					<button class="btn btn-lg btn-primary"  [disabled]="!addTicketForm.form.valid">{{formBtnLabel}}</button>
					<button class="btn btn-lg btn-primary" (click)="onCancel()"> Cancelar </button>
				</form> -->
		</div>
		</div>
	</div>
</div>