
<h3 class="pb-2">Nuevo Caso</h3>
<form  #sendTicketForm="ngForm"  (ngSubmit)="sendTicketForm.form.valid && onSubmit()" class="row">
	<div class="form-group col-12"  >
		<input autocomplete="off"  [(ngModel)]="model.titulo" type="text" class=" form-control"   name="titulo"   required placeholder="Titulo">
	</div>
	<div class="form-group col-12 ">
		<label for="" class="mr-2">Prioridad:</label>
		<select class="form-control" [(ngModel)]="model.priority_id" name="prioridad" required>
	
			<option value="{{ row.id }}" *ngFor="let row of priority">{{row.text}}</option>
		</select>
	</div>
	<div class="form-group col-6 "   >
		<label for="" class="mr-2">Departamento:</label>
		<select class="form-control" [(ngModel)]="model.department_id" name="departamento" required>
			
			<option value="{{ row.id }}" *ngFor="let row of department" >{{row.text}}</option>
		</select>
	</div>
	<div class="form-group col-6 "   >
		<label for="" class="mr-2">Cliente:</label>
		<select  class="form-control" [(ngModel)]="model.client_id" name="cliente" required (change)="onSelectClient($event.target.value)">
			
			<option value="{{ row.id }}" *ngFor="let row of client" >{{row.nombre}}</option>
		</select>
	</div>
	<div class="form-group col-sm-4 col-12" [class.has-danger]="correo.invalid && correo.touched" >
		<input autocomplete="off" [class.form-control-danger]="correo.invalid && correo.touched"  [(ngModel)]="model.email" type="email" class=" form-control"   name="email"  required placeholder="Correo" #correo="ngModel">
	</div>
	<div class="form-group col-sm-4 col-12"  >
		<input autocomplete="off"   [(ngModel)]="model.telefono" type="text" class=" form-control"   name="telefono"  placeholder="Teléfono">
	</div>
	<div class="form-group col-sm-4 col-12"  >
		<input   autocomplete="off" [(ngModel)]="model.celular" type="text" class=" form-control"   name="celular"  placeholder="Célular">
	</div>
	
	<div class="form-group col-12" [class.has-danger]="cont.invalid && cont.touched" >
		<quill-editor #cont="ngModel" [style]="{height: '200px'}" [(ngModel)]="model.content" name="platilla"></quill-editor>
	</div>

	<hr>
	<br>
	<div class="col-12" style="padding-top: 70px;">
		<button class="btn  btn-aqua mr-2"  [disabled]="!sendTicketForm.form.valid">Crear nuevo caso</button>
		<button class="btn  btn-aqua" (click)="onClose()">Cancelar</button>
	</div>
</form>
