<div  [@inOut]="mainActive">
	<h1>Lista de usuarios</h1>
	<datagrid 
				[data]="users" 
				[selected]="s" 
				[column]="col" 
				(add)="onLoadForm($event)" 
				(edit)="onEdit($event)"
				(del)="onDelete($event)"
			>	
			</datagrid>
</div>
<div  [@inOut]="formActive">
	<form  #userForm="ngForm"  (ngSubmit)="userForm.form.valid && onSubmit()">
		<h1>{{formTitle}}</h1>
		<hr>
		<div class="form-group" [class.has-danger]="username.invalid && username.touched" >
			<label for="usuario">Usuario</label>
			<input [class.form-control-danger]="username.invalid && username.touched"  [(ngModel)]="model.username" type="text" class=" form-control" placeholder="Usuario" required autofocus name="usuario"  #username="ngModel" >
		</div>
		<div class="form-group" [class.has-danger]="password.invalid && password.touched" >
			<label for="contrasena">Contraseña</label>
			<input [class.form-control-danger]="password.invalid && password.touched"  [(ngModel)]="model.password" type="password" class=" form-control" [required]="model.id?false:true" placeholder="Colo que contraseña" autofocus name="contrasena" forbiddenPassword="3" #password="ngModel"  minlength="8">
			 <div *ngIf="password.errors && (password.touched || password.dirty)" class="alert alert-danger" role="alert">
				<div [hidden]="!password.errors.forbiddenPassword">
					<strong>Error</strong> La contraseña debe tener  una mayuscula, una minuscula y un número.
				</div>
				<div [hidden]="!password.errors.minlength">
					<strong>Error</strong> La contraseña debe tener  8 caracteres minimo.
				</div>
			</div>
		</div>
		<div class="form-group" [class.has-danger]="repassword.invalid && repassword.touched" >
			<label for="recontrasena">Validar Contraseña</label>
			<input [class.form-control-danger]="repassword.invalid && repassword.touched"  [(ngModel)]="model.repassword" type="password" class=" form-control" placeholder="Repita la contraseña"  autofocus name="recontrasena"  #repassword="ngModel"  confirmPassword="contrasena" [required]="model.id || model.password!=null?false:true">
			 <div *ngIf="repassword.errors && (repassword.touched || repassword.dirty)" class="alert alert-danger" role="alert">
				<div [hidden]="!repassword.errors.confirmPassword">
					<strong>Error</strong> No coinciden la contraseña.
				</div>
			</div>
		</div>
		<div class="form-group" [class.has-danger]="nombre.invalid && nombre.touched" >
			<label for="name">Nombre</label>
			<input [class.form-control-danger]="nombre.invalid && nombre.touched"  [(ngModel)]="model.nombre" type="text" class=" form-control" placeholder="Ejempo:Pablo" required autofocus name="name"  #nombre="ngModel" >
		</div>
		<div class="form-group" [class.has-danger]="apellido.invalid && apellido.touched" >
			<label for="lastname">Apellido</label>
			<input [class.form-control-danger]="apellido.invalid && apellido.touched"  [(ngModel)]="model.apellido" type="text" class=" form-control" placeholder="Ejemplo: Rodriguez" required autofocus name="lastname"  #apellido="ngModel" >
		</div>
		<div class="form-group" [class.has-danger]="email.invalid && email.touched" >
			<label for="correo">Correo</label>
			<input [class.form-control-danger]="email.invalid && email.touched"  [(ngModel)]="model.email" type="email" class=" form-control" placeholder="Ejemplo:correo@correo.com" required autofocus name="correo"  #email="ngModel" >
		</div>
		<div class="form-group" >
			<label for="rol">Rol</label>
			<select  name="rolessss" class="form-control"  [(ngModel)]="model.rol_id" >
			  	<option value="3">Agente</option>
			  	<option value="2">Supervisor</option>
			  	<option value="1">Administrador</option>
			</select>
		</div>
		<div class="form-check form-check-inline" >
			<label class="checkbox pull-left" for="active">
				Activo
				<input   [(ngModel)]="model.activo" type="checkbox" class=" form-control"  name="active"  #activo="ngModel" value="1">
			</label>
		</div>
		<!-- DEPARTAMENTO -->
		<h4>Departamento</h4>	
		<div class="form-group">
			<ng-select   #selectedDepart
					[multiple]="true"
		              	  (selected)="selected($event)"
		              	 (removed)="removed($event)"
		      
		              	 placeholder="No city selected">
		              </ng-select>
		</div>
		<hr>
		<button class="btn btn-lg btn-primary"  [disabled]="!userForm.form.valid">{{formBtnLabel}}</button>
		<button class="btn btn-lg btn-primary" (click)="onCancel()"> Cancelar </button>
	</form>
</div>