<div  [@inOut]="mainActive">
	<h1>Lista de Departamentos</h1>
	<div class="row">
		<div class="col-5">
			<datagrid 
			[data]="departments" 
			[selected]="selected" 
			[column]="col" 
			(add)="onLoadForm($event)" 
			(edit)="onEdit($event)"
			(del)="onDelete($event)"
		>	
		</datagrid>
		</div>
	</div>
</div>
<div  [@inOut]="formActive" >
	<form  #userForm="ngForm"  (ngSubmit)="userForm.form.valid && onSubmit()">
		<h1>{{formTitle}}</h1>
		<hr>
		<div class="form-group" [class.has-danger]="descripcion.invalid && descripcion.touched" >
			<label>Descripción</label>
			<input [class.form-control-danger]="descripcion.invalid && descripcion.touched"  [(ngModel)]="model.descripcion" type="text" class=" form-control" placeholder="Descripción" required autofocus name="despcripcion"  #descripcion="ngModel" >
		</div>
		 <div class="form-group" >
			<label>Padre</label>
			<select  class=" form-control" name="parent_id"  [(ngModel)]="model.parent_id"> 
				<option value="">Seleccionar...</option>
				<option *ngFor="let row of list;" [value]="row.id">{{row.text}}</option>
			</select>
		</div>
		<hr>
		<button class="btn btn-lg btn-primary"  [disabled]="!userForm.form.valid">{{formBtnLabel}}</button>
		<button class="btn btn-lg btn-primary" (click)="onCancel()"> Cancelar </button>
	</form>
</div>