<div>
	<h1>Listado de Trofeos</h1>
	<div class="row">
		<div class="col-5">

			<datagrid  
			[data]="rowsData" 
			[selected]="selected" 
			[column]="col" 
			[loading]="loading"
			(add)="onLoadForm($event, content)" 
			(edit)="onEdit($event, content)"
			(del)="onDelete($event)"
			>	
			</datagrid>
		</div>
	</div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{formTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
	<form  #trophieForm="ngForm"  (ngSubmit)="trophieForm.form.valid && onSubmit()">
		<div class="row">
			<div class="col-12 col-sm-6">
				<div class="form-group" [class.has-danger]="descripcion.invalid && descripcion.touched" >
					<label for="name">Descripcion</label>
					<input [class.form-control-danger]="descripcion.invalid && descripcion.touched"  [(ngModel)]="model.descripcion" type="text" class=" form-control" required autofocus name="name"  #descripcion="ngModel" >
				</div>
			</div>		
			<div class="col-12 col-sm-6">
				<div class="form-group"  >
					<label for="res">Puntaje</label>
					<input [(ngModel)]="model.puntos" type="text" class=" form-control"  name="res"  #descripcion="ngModel" default="0">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<dropzone [config]="config" [message]="'Presione o arrastre la imagen para cargar el trofeo'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
			</div>
			<div class="col-12">
				<hr>
				<button class="btn btn-lg btn-aqua"  [disabled]="!trophieForm.form.valid">{{formBtnLabel}}</button>
				<button class="btn btn-lg btn-aqua" (click)="c('Close click')"> Cancelar </button>
			</div>
		
		
		</div>
    </form>
  </div>
</ng-template>