<navbar (toogleSidebar)="onToogle($event)"></navbar>
<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col-lg-2 bg-dark ">
			<ul class="list-group">
				<li class="list-group-item"><a [routerLink]="['clients']">Clientes</a></li>
				<li class="list-group-item"><a routerLink="/admin/client_users">Clientes: Usuarios</a></li>
				<li class="list-group-item"><a [routerLink]="['departments']">Departamentos</a></li>
				<li class="list-group-item"><a [routerLink]="['calendars']">Calendario</a></li>
				<li class="list-group-item"><a [routerLink]="['festives']">Días Festivos</a></li>
				<li class="list-group-item"><a [routerLink]="['estates']">Estados</a></li>
				<li class="list-group-item"><a [routerLink]="['faqs']">Preguntas frecuentes</a></li>
				<li class="list-group-item"><a routerLink="/admin/categories">Preguntas frecuentes: Categorias</a></li>
				<li class="list-group-item"><a [routerLink]="['priorities']">Prioridades</a></li>
				<li class="list-group-item"><a [routerLink]="['templates']">Plantillas</a></li>
				<li class="list-group-item"><a [routerLink]="['trophies']">Trofeos</a></li>
				<li class="list-group-item"><a [routerLink]="['users']">Usuarios</a></li> 
			</ul>
		</div>
		<div id="bodyContent" class="col-lg-10" >
		<div class="container-fluid bg-white mt-3 pb-2 border">
			<router-outlet></router-outlet>			
		</div>
		</div>
	</div>
</div>
