<div class="text-right datagridAction">
	<button  class="btn btn-success" (click)="onAdd()"><i class="fa fa-plus " aria-hidden="true"></i> </button>
	
	<button *ngIf="del" class="btn btn-danger" [disabled]="!isDel" (click)="onDel()"><i class="fa fa-times-circle " aria-hidden="true"></i> </button>
</div>
<ngx-datatable
	   class="striped"
      [rows]="data"
      [loadingIndicator]="loading"
      [columnMode]="'force'"
      [headerHeight]="headerH"
      [rowHeight]="rowH"
      [footerHeight]="footerH"
      [selected]="selected"
    	[selectionType]="'checkbox'"
    	(select)='onSelect($event)'
    	[limit]="20"
      >
	 <ngx-datatable-column
		[width]="30"
		[sortable]="false"
		[canAutoResize]="false"
		[draggable]="false"
		[resizeable]="false"
		[headerCheckboxable]="true"
		[checkboxable]="true">
	      </ngx-datatable-column> -->
      <ngx-datatable-column [name]="row.name" [prop]="row.prop" *ngFor="let row of column"></ngx-datatable-column> 
      <ngx-datatable-column
		[width]="80"
		[sortable]="false"
		[canAutoResize]="false"
		[draggable]="false"
		[resizeable]="false"
		name=""
		prop="id"
		>
		<ng-template let-value="value" ngx-datatable-cell-template >
			<div class="text-center"><button class="btn btn-aqua btn-sm" (click)="onEdit(value)">editar</button>	</div>
		</ng-template>
	</ngx-datatable-column> 
</ngx-datatable>
