<div >
	<h1>Listado de Prioridades</h1>
	<datagrid  
	[data]="rowsData" 
	[selected]="selected" 
	[column]="col" 
	[loading]="loading"
	(add)="onLoadForm($event, content)" 
	(edit)="onEdit($event, content)"
	(del)="onDelete($event)"
	>	
	<ngx-datatable-column name="T. Respuesta" prop="respuesta">
		<ng-template let-value="value" ngx-datatable-cell-template>
			<div class="text-center"> {{value}} horas </div>
		</ng-template>
	</ngx-datatable-column>
	</datagrid>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{formTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">	<form  #prioritiesForm="ngForm"  (ngSubmit)="prioritiesForm.form.valid && onSubmit()">
		<div class="row">
		<div class="col-12 col-sm-6">
			<div class="form-group" [class.has-danger]="descripcion.invalid && descripcion.touched" >
				<label for="name">Descripcion</label>
				<input [class.form-control-danger]="descripcion.invalid && descripcion.touched"  [(ngModel)]="model.descripcion" type="text" class=" form-control" required autofocus name="name"  #descripcion="ngModel" >
			</div>
		</div>		
		<div class="col-12 col-sm-6">
			<div class="form-group"  >
				<label for="res">Tiempo de Respuesta</label>
				<input [(ngModel)]="model.respuesta" type="text" class=" form-control"  name="res"  #descripcion="ngModel" default="0" placeholder="Horas">
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="form-group"  >
				<label for="resu">Tiempo de Resuelto</label>
				<input [(ngModel)]="model.resuelto" type="text" class=" form-control"  name="resu"  #descripcion="ngModel" default="0" pĺaceholder="horas">
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<h6>Escalable</h6>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="model.escalable"  value="1">
				<label class="form-check-label" for="inlineRadio1">Si</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)]="model.escalable"  value="0">
				<label class="form-check-label" for="inlineRadio2">No</label>
			</div>
			<hr>
		</div>
		
		<div class="col-12">
			<button class="btn btn-lg btn-aqua"  [disabled]="!prioritiesForm.form.valid">{{formBtnLabel}}</button>
			<button class="btn btn-lg btn-aqua" (click)="c('Close click')"> Cancelar </button>
		</div>
		</div>
 </form>
  </div>
</ng-template>