<div class="row">
	<div class="col-3">
		<ul class="list-group">
				<li class="list-group-item" *ngFor="let row of categoryList"><a routerLink="/faq/{{row.name}}" >{{row.name}}</a></li>
			
			</ul>

	</div>
	<div class="col-9 pb-2">
		<h3>Preguntas Frecuentes<span *ngIf="showCategory">::Categorias</span></h3>
		<form  #searchForm="ngForm"  (ngSubmit)="onSearch()">
    	<div  class="inputbox p-1 mx-auto">
			<input   [(ngModel)]="search" type="text" class="border-0 inputsearch" required autofocus name="s"  placeholder="Describa lo que busca...">
			<button class="btn bg-primary"  >Buscar</button>
		</div>
		</form>
		<br><br>
		<div id="list-category" class="row"  *ngIf="showCategory">
			<div class="col-12 col-md-6"  *ngFor="let row of categoryList">
				<h3><a routerLink="/faq/{{row.name}}"><i class="fa fa-folder"></i> {{row.name}}</a></h3>
				<p> {{row.descripcion}}</p><div [innerHTML]="theHtmlString"></div>
			</div>
		</div>
		
		<div id="result-faq" *ngIf="!showCategory">
			<ngb-accordion #acc="ngbAccordion">
		  <ngb-panel title="{{row.title}}" *ngFor="let row of faqList" >
		    <ng-template ngbPanelContent >
		      <div [innerHTML]="row.content"></div>
		    </ng-template>
		  </ngb-panel>
		</ngb-accordion>
		</div>
	</div>
</div>
