<div class="row">
	<div class="col-3">Hola munddo</div>
	<div class="col-9 pb-2">
		<h1>Contactenos</h1>
		<div class="row">
			<div class="col-12 col-sm-8">
				<form  #contactForm="ngForm"  (ngSubmit)="contactForm.form.valid && onSubmit()">
    	<div class="form-group" [class.has-danger]="nombre.invalid && nombre.touched" >
			<input [class.form-control-danger]="nombre.invalid && nombre.touched"  [(ngModel)]="model.nombre" placeholder="Nombre y Apellido" type="text" class=" form-control" required autofocus name="name"  #nombre="ngModel" >
		</div>
		<div class="form-group"  >
			<input   [(ngModel)]="model.email" type="email" class=" form-control"   name="email"  required placeholder="Correo">
		</div>
		<div class="form-group">
			<textarea  class=" form-control" [(ngModel)]="model.area" id="" cols="40" rows="5" name="area" placeholder="Su consulta..." required></textarea>
		</div>
		<re-captcha  [(ngModel)]="captcha" name="cap" required></re-captcha>
		<hr>
		<button class="btn btn-lg bg-primary"  [disabled]="!contactForm.form.valid">Enviar Ticket</button>
    </form>
			</div>
		</div>
	</div>