@import assets/css/color
$card-cap-bg: #eef4d7
$border-radius:          0 
$border-radius-lg:       0 
$border-radius-sm:       0 
@import assets/css/theme
@import "node_modules/bootstrap/scss/bootstrap"
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome"
@import assets/css/toasty
@import assets/css/ngxdatatable
@import '~@swimlane/ngx-datatable/release/index.css'
@import '~@swimlane/ngx-datatable/release/assets/icons.css'
@import "~@ng-select/ng-select/themes/default.theme.css"
@import assets/css/loader

body
	background: #F1F1F1
.card-header
  font-weight: bold
  color: $gray-600
  border-bottom: #eef4d7 solid

.modal-header
  background: $darkAqua
  color: $white  
.modal-header .close
  color: #ccc
  &:hover
    color: $white
#sidebar
	color: $olivo;
	height: 93vh
.open>.dropdown-menu
	display: block



