<div class="container">
 <div class="row justify-content-md-center align-middle">
    <div class="col col-lg-4 col-md-6 col-sm-8 col-12">
      <div class="card border">
      	<div class="card-header">
		    Olvido Su contraseña
		  </div>
        <div class="card-body">
        	<form  #forgotForm="ngForm"  (ngSubmit)="forgotForm.form.valid && onSubmit()">
        		 <div class="form-group" [class.has-danger]="email.invalid && email.touched" >
		            <input [class.form-control-danger]="email.invalid && email.touched"  [(ngModel)]="model.email" type="email" class=" form-control" placeholder="Coloque su correo" required autofocus name="correo"  #email="ngModel" autocomplete="off">
		          </div>
        		<button class="btn btn-lg btn-primary"   [disabled]="!forgotForm.form.valid || loading">Enviar</button>
        		<a class="btn btn-lg btn-secondary" routerLink="/">Cancelar</a>
            <img *ngIf="loading" src="../../assets/img/loading-ellipsis.svg" />
        	</form>
        </div>
      </div>
    </div>
  </div>